body{
    
    background-image: url('../img/images.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    }
    
    .name {
        font-family:  15px/1.5 Arial, Helvetica, sans-serif;
        font-size: 32px; /* Adjust font size */
        font-weight: bold; /* Make the text bold */
        text-align: center; /* Center align the text */
        margin-top: 200px; 
    }
    
    .add {
        font-family: 'Arial', sans-serif; /* Choose a nice font */
        font-size: 18px; /* Adjust font size */
        font-style: italic; /* Apply italic style */
        text-align: center; /* Center align the text */
        margin-top: 5px; /* Adjust distance from the company name */
    }
    
    header{
        background:#35424b;
        color:white;
        padding-top:7px;
        min-height:10px;
        margin-bottom: 100px;
        /*border-bottom: red 3px solid;*/
        }
        
        header a{
        color:white;
        text-decoration:none;
        text-transform:uppercase;
        font-size:16px;
        }
        
        header li{
        float:left;
        display:inline;
        padding: 0 20px 0 20px;
        }
        
        header #branding{
        float:left;
        }
        
        header #branding h1{
        margin:0;
        }
        
        header nav{
        float:right;
        margin-top:10px;
        }
        
        header .current a{
        color:#e8491d;
        font-weight:bold;
        }
        header .new{

        font-style: italic;
        font-size: medium;
        }
        
        header a:hover{
        color:black;
        font-weight:bold;
        }
         
        .container{
            width:100%;
            margin:auto;
            overflow:hidden;
            }
            
            ul{
            padding: 0;
            margin: 0;
            }
            
            .button_1{
            height:38px;
            background: #e8491d;
            border: 0;
            padding-left: 20px;
            padding-right: 20px;
            color: white;
            }
            
            .dark{
            padding:15px;
            background:#35424a;
            color:white;
            margin-top:10px;
            margin-bottom:10px;
            }
            