body{
    background:white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

    .signup{
    background: rgba(44, 62, 80, 0.7);
    padding:40px;
    width:250px;
    margin-top:90px;
    margin-left:180px;
    margin:0 auto;
    }

    form{
    width:240px;
    text-align:center;
    margin-top:-10;
    }

    input{
    width:240px;
    text-align: center;
    background: transparent;
    border:none;
    border-bottom:2px solid white;
    font-size:18px;
    font-weight:200px;
    padding:10px;
    transition:border 0.5s;
    outline:none;
    height:35px;
    color: black;
    }

    button{
    width:190px;
    font-size:20px;
    border:none;
    padding:10px 0;
    border-radius:25px;
    line-height:25px;
    cursor: pointer;
    background-color: blue;
    font-weight: bold;
    /*margin-top="100px"*/
    }

    button:hover {
    background: black;
    color:blue;
    }

    h2, h1{
    color:blue;
    font-weight: bolder;
    font-size: 30px;
    }

    a{
    color:blue;
    }

    a:hover{
    color:black;
    }

    .signin{
    color:crimson;
    }

    ::placeholder{
    color: black;
    opacity:0.5;
    font-size: small;
    }

    #error{
        color:red;
        opacity: 0.9;
    }
    label{
        color:black;
    opacity:0.8;
    font-size:18px;
    font-weight:200px;
    }

@media screen and (max-width: 400px) {
    .signup {
        width: 75%;
        padding: 15px;
        margin: 30px auto;
    }

    input {
        font-size: 14px;
        padding: 6px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    h1, h2 {
        font-size: 18px;
    }

    label {
        font-size: 14px;
    }
}
